<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Catnap">
    <Properties>
        <Property name="basePath">../simpson_davis_webapp/src/main/resources</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"></PatternLayout>
        </Console>

        <!-- File Appender -->
        <File name="FILE" fileName="${basePath}/letsleepingcatslie.log" append="true">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>

    </Appenders>
    <Loggers>
        <Logger name="com.jcg" level="debug" />
        <Root level="info">
            <AppenderRef ref="STDOUT"></AppenderRef>
            <AppenderRef ref="FILE"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>